/__pycache__
/app/__pycache__
/app/dao/__pycache__
/app/routes/__pycache__
/app/services/__pycache__
/app/models/__pycache__
/app/tests/__pycache__
secrets_file.py
inmemory.db*
rpi.db*
.coverage
coverage.lcov
.vscode/
